/*Contantes Fuentes*/
@font-face{
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}
@font-face{
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}
@font-face{
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

/*Default CSS*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
/**************BANNER************/

.banner{
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/10.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .tagline{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170,54,724,0.5)-5.91%, rgba(74,47,783,0.5)111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1{
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p{
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button{
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg{
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg{
  margin-left: 25px;
}

.txt-rotate > .wrap{
  border-right: 0.08em solid #666;
}

/*********Skills******/
.skill{
  padding:0 0 50px 0;
  position: relative;
}
.skill-bx{
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skill h2{
  font-size: 45px;
  font-weight: 700;
}

.skill-slider{
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.background-image-left{
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

.mision{
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/10.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mision .tagline{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.mision h1{
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.mision p{
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.txt-rotate > .wrap{
  border-right: 0.08em solid #666;
}
/* *******Colegio****************** */
.colegio{
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/10.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.colegio .tagline{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.colegio h1{
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.colegio p{
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.txt-rotate > .wrap{
  border-right: 0.08em solid #666;
}
/* ******************noticias************** */
.noticias{
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/10.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.noticias .tagline{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.noticias h1{
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.noticias p{
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.txt-rotate > .wrap{
  border-right: 0.08em solid #666;
}
/* ***********Admisiones************* */
.admisiones{
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/10.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.admisiones .tagline{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.admisiones h1{
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.admisiones p{
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.txt-rotate > .wrap{
  border-right: 0.08em solid #666;
}
/* *************Circulares******************** */
.circulares{
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/10.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.circulares .tagline{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.circulares h1{
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  padding:35 36 50px 55;
  
}
.circulares p{
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.txt-rotate > .wrap{
  border-right: 0.08em solid #666;
}

.circulares h2{
  font-size: 65px;
  font-weight: 700;
}
.circulares-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
/* ***********Direcciones************* */
.direccion{
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/10.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.direccion .tagline{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.direccion h1{
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.direccion p{
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.txt-rotate > .wrap{
  border-right: 0.08em solid #666;
}
/* ***********Contactos************* */
.contactos{
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/10.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contactos .tagline{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.contactos h1{
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.contactos p{
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.txt-rotate > .wrap{
  border-right: 0.08em solid #666;
}
.formulario {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #121212;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
/* ***********Creditos************* */
.creditos{
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/10.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.creditos .tagline{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.creditos h1{
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.creditos p{
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.txt-rotate > .wrap{
  border-right: 0.08em solid #666;
}
